.btn-cta {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  padding: 10px 25px;
  color: white;
  transition: 0.3s;
}

.btn-cta:hover {
  background-color: white;
  color: black;
}
